<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div th:replace="~{error.html}"></div>
                <form th:action="@{/login}" method="post">
                    <div class="row mb-3">
                        <div class="col">
                            <input type="email" name="username" id="loginEmail" class="form-control" placeholder="Enter the email" required>
                        </div>
                        <div class="col">
                            <button type="button" id="loginOtp" class="btn btn-primary btn-sm" onclick="sendOtp('loginEmail', 'loginOtp')">Send OTP</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="loginOtpInput" placeholder="OTP" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>